<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>NutriFact_BMI_Calculate</title>
</head>
<body>
    <h1>Cálculo do IMC</h1>
    <form action="" method="post">
        <p></p>
        Altura: <input type="text" value="" name="height"/>
        <p></p>
        Massa: <input type="text" value="" name="mass"/>
        <p></p>
        <button type="submit">Calcular IMC</button>
    </form>
</body>
</html>