<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>NutriFact</title>
</head>
<body>
  <h1>Registro</h1>
  <form action="" method="post">
      <p></p>
      Nome: <input type="text" value="" name="name"/>
      <p></p>
      E-mail:<input type="text" value="" name="email"/>
      <p></p>
      Altura: <input type="text" value="" name="height"/>
      <p></p>
      Massa: <input type="text" value="" name="mass"/>
      <p></p>
      <button type="submit">Registrar</button>
  </form>
</body>
</html>